player-connection-mode=Listen
player-connection-guid=738049545
player-connection-debug=1
player-connection-project-name=OpticalIllusionD
player-connection-ip=10.16.206.216
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=1e0d765aa69e4ac89d91a732a69caacb
